/* Set halaman margin */
body.halaman-margin{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%; /* Mengatur lebar elemen */
    background-color: #fff; /* Warna latar belakang */
    padding: 20px; /* Jarak dalam elemen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan */
    margin: 0 auto; /* Mengatur margin atas/bawah 0 dan tengah secara horizontal */
}

/* Set halaman padding */
body.halaman-padding{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.box {
    background-color: #fff; /* Warna latar belakang */
    border: 1px solid #ccc; /* Border untuk kotak */
    
    /* Set padding yang berbeda untuk setiap sisi */
    padding-top: 10px;    /* Atas */
    padding-right: 20px;  /* Kanan */
    padding-bottom: 30px; /* Bawah */
    padding-left: 40px;   /* Kiri */
}

/* Set halaman external */
h1 {
  color: blue;
}

/* Set halaman list */
.dari-bullet {
    list-style-type: square; /* Menggunakan kotak sebagai bullet */
}

.dari-huruf {
    list-style-type: upper-alpha; /* Menggunakan huruf kapital sebagai nomor */
}

.dari-angka {
    list-style-type: decimal; /* Menggunakan angka biasa sebagai nomor */
}

/* set halaman list style image*/
/* pada list tidak berurutan (ul) menggunakan sebuah gambar dengan nama icon.png */
.dari-bullet2 {
    list-style-image: url('https://icons.iconarchive.com/icons/martz90/hex/16/css-3-icon.png'); /* Gambar sebagai bullet */
}

ul {
    padding-left: 20px; /* Memberi jarak pada daftar */
}

